/* ------------------------------------------------------------- */
/* ------------------------------------------------------------- */
/* ------------------------------------------------------------- */
/* ------------------ MAIN BODY  ------------------------------- */
/* ------------------------------------------------------------- */
/* ------------------------------------------------------------- */
/* ------------------------------------------------------------- */
/* ------------------------------------------------------------- */



body {
  background-color: black;
  color: #fff; /* Set text color to white */
  font-family: 'Verdana';
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  padding-top: 100px;
}


.sidebar {
  position: fixed;
  right: -100%; /* Start the sidebar off-screen */
  top: 0;
  height: 100%;
  width: 410px;
  background-color: #000000;
  z-index: 1000; /* Ensure the sidebar is above other content */
  transition: right 0.4s ease; /* Slide-in effect */
}

.sidebar.open {
  right: 0; /* Slide the sidebar in from the right when open */
}

.main-content {
  transition: filter 0.3s ease;
}

/* Apply blur when sidebar is open */
.sidebar-open .main-content {
  filter: blur(5px); /* Adjust the blur intensity */
}

/* Adjust sidebar for mobile */
@media (max-width: 768px) {
  .sidebar {
    width: 280px; /* Smaller width for mobile */
  }
}

.sidebar-content {
  padding: 20px;
  color: white;
  margin-top: 60px;
}

.sidebar-content h2 {
  color: white;
  padding-top: 15px;
  padding-bottom: 20px;
  font-size: 22px;
}

.close-sidebar {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 24px;
  color: white;
  cursor: pointer;
  background: none;
  border: none;
  background-color: #58d289;
  margin-top: 10px;
  margin-right: 15px;
}

.login-button {
  background-color: #58d289;
  font-size: 22px;
  font-weight: bold;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
  border: none;
  margin-right: 20px;
}

.login-options button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #333;
  //color: rgb(238, 231, 216);
  color: white;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 2px solid #58d289; 
  border-radius: 8px;
  cursor: pointer;
  margin-top: 20px;


}

.login-options button img {
  margin-left: 10px;
  width: 24px;
  height: 24px;
}

.navbar {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  //align-items: center;
  padding: 10px;
  background-color: black;
  margin-right: 20px;
  width: 100%;
  box-sizing: border-box;
  box-shadow: 0 1px 4px #58d289;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-links {
  display: flex; 
  align-items: center;
}

.navbar-links div,
.navbar-buttons {  
  font-size: 20px;
  font-weight: 350;
  color: white;
  //color: rgb(241, 236, 225);
  margin-right: 30px;
  font-weight: bold;
  cursor: pointer;
  padding: 5px;
  transition: color 0.3s ease, text-decoration 0.3s ease;
}

.navbar-links div:hover,
.navbar-buttons:hover {  /* Apply the same hover effect to both */
  text-decoration-line: underline;
  text-decoration-color: #58d289;
  text-decoration-thickness: 5px;
  text-underline-offset: 12px;
}

@media (max-width: 768px) {
  .navbar {
    padding: 10px;
  }

  .navbar-buttons {
    font-size: 16px;
    margin-right: 15px;
  }

  .navbar-logo {
    width: 40px; /* Smaller logo size */
  }
}

.search-input {
  flex: 1;
  margin-right: 10px;
  padding: 10px;
  border-radius: 8px;
  background-color: #222;

  color: #fff;
  border: 2px solid #58d289;
}


.navbar-logo {
   width: 55px; 
   //margin-right: 10px;  /* Add spacing between logo and title */
  //height: auto;

  margin-left: 20px;
 
}

.navbar-title {
  //margin-left: 5px;
  //font-size: 35px; /* Enlarged title */
  //font-weight: bold;
  //color: rgb(255, 255, 255);
  //font-family: sans-serif;
  //letter-spacing: normal;
  width: 200px;
  padding: 5px;
  height: 50px;
  margin-top: 5px;
  
}




/* ------------------------------------------------------------- */
/* ------------------------------------------------------------- */
/* ------------------------------------------------------------- */
/* ---------------  TUNES  ------------------------------------- */
/* ------------------------------------------------------------- */
/* ------------------------------------------------------------- */
/* ------------------------------------------------------------- */
/* ------------------------------------------------------------- */




/* Main container */
.tune-app-container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

/* Title */
.title {
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
  color: white;
  //color: rgb(241, 236, 225);
}

/* Search and Filter */
.search-filter {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  font-size: 12px;
  //border: 2px solid #58d289;
}

.search-input {
  flex: 1;
  margin-right: 10px;
  padding: 10px;
  border-radius: 8px;
  background-color: #222;
  border: 2px solid #58d289;
  color: #fff;
}

.select-filter {
  width: 200px;
  margin-right: 10px;
  color: #000;
}

.select-filter .css-1okebmr-indicatorSeparator {
  display: none;
}

.select-filter .css-319lph-ValueContainer {
  background-color: #222;
  border: 1px solid #444;
  color: #fff;
}

/* Tune List */
.tune-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  max-width: 100%;
  padding: 15px;
}

.tune-card {
  background-color: #122;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 6px 14px rgba(122, 220, 197, 0.347);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: auto;
  height: 125px;
  margin-top: 10px;
  border: 1px solid #58d289;
  position: relative; 

}

.tune-card:hover {
  background-color: #58d289;
  color: black;
  transform: scale(1.02);
  transition: scale 0.5s;
  transition: background-color 0.4s;
}

.tune-details {
  display: flex;
  flex-direction: column;
  //position: absolute;
}

.tune-title {
  display: flex;
  align-items: center;
  font-size: 16px;
}


.play-icon-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #333;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 15px; 
  flex-shrink: 0;
}

.play-icon-circle:hover {
  background-color: #1e90ff; 
}

.play-icon {
  width: 18px; 
  height: 18px;
}

.tune-id {
  font-size: 12px;
  color: #888;
}

.add-tune-button {
  background-color: rgb(28, 168, 232);
  width: fit-content;
  margin-top: 10px;
  font-size: 13px;
  box-shadow: none;
  position: absolute;
  right: 15px;
  bottom: 15px;
  
}

.tune-card.library-card {
  border: 1px solid #58d289; 
  transition: background-color 0.3s, border 0.3s; 
 
}


.tune-card.library-card .tune-details {
  display: flex;
  justify-content: space-between;
  font-size: 13px;

}

.tune-card.library-card .tune-title {
  font-size: 15px;  
}

.tune-detail-view {
  //margin-top: 10px;
  background-color: #58d289;
  padding: 40px;
  border-radius: 10px;
  color: #000;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
 // max-height: 600px;
}


.tab-buttons {
  display: flex;
  //margin-bottom: 20px;
  margin-left: 20px;
}

.tab-buttons button {
  padding: 12px 20px;  /* Increase padding for a larger clickable area */
  border: 2px solid black;
  background-color: #06692f; /* Darker background for inactive tabs */
  cursor: pointer;
  font-weight: bold;
  width: 150px;  /* Set a fixed width for consistency */
  color: #fff;
  transition: all 0.3s ease-in-out;  /* Smooth transitions */
  border-radius: 8px 8px 0 0;  /* Rounded top corners for tab effect */
  margin-right: 10px;
  text-align: center;  /* Center the button text */
}

.tab-buttons button:last-of-type {
  margin-right: 0;  /* Remove margin from last button */
}

.tab-buttons button:hover {
  background-color: #444;  /* Highlight on hover */
  //color: #000;
}

.tab-buttons button.active {
  background-color: #444;  /* Green background for active tab */
  //color: #000;
  border: 2px solid #444;  /* Slight border for active tab */
  border-bottom: none;  /* Remove bottom border to blend with content */
}



.download-btn, .copy-btn {
  padding: 10px 20px;
  border: none;
  background-color: #58d289;  /* Match your app's theme */
  color: #fff;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px; /* Spacing between buttons */
  transition: background-color 0.3s ease;
  border: 2px solid black;
  margin-top: 10px;
}

.download-btn:hover, .copy-btn:hover {
  background-color: #45b26b; /* Slightly darker green on hover */
}

.abc-container {
  border: 2px solid #000;
  border-radius: 8px;
  padding: 15px;
  background-color: white;
  font-size: larger;
  font-weight: bold;
  text-align: left;
}

.abc-notation {
  background-color: white;
  color: #000;
  //padding: 5px;
  border-radius: 8px;
  //margin-right: 10px;
  //margin-top: 10px;
  border: 2px solid #000;
}

.soundfont-selector {
  margin-top: 20px;
  display: flex;
  align-items: center;

  label {
    margin-right: 10px;
    font-weight: bold;
  }

  .select-soundfont {
    width: 200px;
  }
}


.abc-player {
  margin-top: 15px;
  margin-bottom: 5px;
  justify-content: center;
  //padding: auto;
  background-color: #121212f7;
  border-radius: 6px;
  color: white;
}

.abc-player-controls {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 15px;
  border-radius: 6px;
  
}



.abc-player-controls button {
  font-size: 18px;
  padding: 10px;
  background: #58d289;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  //transition: background 0.3s;
}

.abc-player-controls button:hover {
  background: #45b26b;
}

.volume-controls,
.speed-controls {
  display: flex;
  align-items: center;
}

.volume-controls input[type="range"],
.speed-controls input[type="range"] {
  width: 100px;
  margin-left: 10px;
}

.speed-controls label {
  margin-right: 5px;
}


/* Pagination Wrapper */
.pagination-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 10px;
}

/* Pagination Styles */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  list-style: none; 
}

.pagination li {
  margin: 0 5px; /* Spacing between the pagination numbers */
}

.pagination a {
  padding: 10px 15px;
  border-radius: 5px;
  text-decoration: none;
  color: #fff;
  background-color: #333; /* Default background */
  transition: background-color 0.3s ease; /* Smooth transition */
}

.pagination a:hover {
  background-color: #58d289; /* Change background on hover */
}

.pagination .active a {
  background-color: #58d289; /* Active page background */
  color: #fff; /* Active page text color */
}

@media (max-width: 768px) {
  .tune-list {
    grid-template-columns: 1fr; /* Single column for mobile */
  }

  .search-filter {
    flex-direction: column;
  }

  .select-filter {
    width: 100%; /* Full width for filter dropdowns */
    margin-bottom: 10px;
  }
}








/* ------------------------------------------------------------- */
/* ------------------------------------------------------------- */
/* ------------------------------------------------------------- */
/* --------------------SESSION---------------------------------- */
/* ------------------------------------------------------------- */
/* ------------------------------------------------------------- */
/* ------------------------------------------------------------- */
/* ------------------------------------------------------------- */



/* Container for the sessions page */
.sessions-page {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
  padding: 30px;
}

/* Add Session Section */
.add-session-section {
  background-color: #f1f1f1;
  padding: 20px;
  border-radius: 8px;
}

.add-session-section h3 {
  color: #0a7a3e;
  margin-bottom: 10px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  //justify-content: space-between;
  color: white;
  //margin-right: 20px;
 // font-size: 20px;
  //font-weight: 300;
  padding: 10px;
  border-radius: 8px;
  background-color: #58d289;
}

button:hover {
  background-color: #06692f;
}


/* Session List Section */
.sessions-container {
  padding: 50px;
}

h1 {
  text-align: center;
  //color: rgb(241, 236, 225);
  color: white;
}

/* Search Input */
.search-input {
  flex: 1;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  margin-left: 10px;
  border-radius: 5px;
  border: 2px solid #58d289;
}

.search-input-sessions {
  flex: 1;
  width: 98%;
  padding: 10px;
  margin-bottom: 20px;
  //margin-left: 10px;
  border-radius: 5px;
  border: 2px solid #58d289;
}
/* Sessions List */
.sessions-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  //max-width: 100%;
  //margin: 20px 0;
  padding: 20px;
  margin-top: 20px;
}

.sessions-list h3 {
  color: #58d289;
  font-size: large;
  font-weight: bolder;
  align-self: center;
  
}

.sessions-list .session-card:hover h3 {
  color: black; /* White color on hover */
  text-decoration-line: underline;
  text-decoration-color: black;
  text-decoration-thickness: 5px;
  text-underline-offset: 12px;
}

.session-card {
  background-color: #122;
  padding: 10px;
  border-radius: 8px;
  //box-shadow: 0 4px 10px rgba(199, 199, 199, 0.2);
  box-shadow: 0 6px 14px rgba(122, 220, 197, 0.347);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: background-color 0.2s;
  border: 2px solid #58d289;;
}

.session-card:hover {
  background-color: #58d289;
  color: #000;
}


.pagination-controls {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  padding: 20px;
}

.add-session-button {
  display: block;
  margin: 20px auto;
  background-color: #58d289;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
}

.add-session-button:hover {
  background-color: #06692f;
}

/* Add this CSS to your stylesheet */
#map {
  height: 350px;
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 15px; /* Rounded corners */
  overflow: hidden; /* Ensures map tiles don't overflow the container */
  //box-shadow: 0 4px 10px #58d289(0, 0, 0, 0.3); /* Optional: adds a subtle shadow */
  margin-inline: 65px;
  z-index: 1;
}


/* Modal Styles */
.modal {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #58d289;
  padding: 30px;
  border-radius: 10px;
  width: 500px;
  max-width: 90%; /* Ensures responsiveness */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative; /* For the close button */
  color: #000;
} 

select {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin: 10px 0;
  width: 100%;
}


.close-modal {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 24px;
  cursor: pointer;
  background: none;
  border: none;
  color: #333;
}

form div {
  margin-bottom: 15px;
}

form input,
form textarea {
  width: 100%; /* Make fields fill the modal width */
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  box-sizing: border-box; /* Fixes padding overflow issues */
}

form button {
  background-color: #0a7a3e;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  width: 100%; /* Full-width button for consistency */
}

form button:hover {
  background-color: #06692f;
}

h2 {
  color: black; /* Match the button's color for a uniform look */
  text-align: center; /* Center align the heading */
  margin-bottom: 20px;
  font-size: 24px;
}













/* ------------------------------------------------------------- */
/* ------------------------------------------------------------- */
/* ------------------------------------------------------------- */
/* -------------------- FRIENDS -------------------------------- */
/* ------------------------------------------------------------- */
/* ------------------------------------------------------------- */
/* ------------------------------------------------------------- */
/* ------------------------------------------------------------- */



.friends-page {
  display: grid;
  grid-template-columns: 0.75fr 2fr; 
  gap: 20px;
  padding: 20px;
  height: 100vh; 
  margin-top: 10px;
}

.friends-list {
  background-color: #111;
  padding: 20px;
  border-radius: 8px;
  overflow-y: auto; 
  //max-width: 400px;

}

.profile-view {
  //align-self: center;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  
}

.my-profile-button {
  background-color: #122;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  margin-bottom: 20px;
  cursor: pointer;
  border: none;
  text-align: center; 
  width: 100%;
}


.friend-item {
  display: flex;                
  align-items: center;            
  background-color: #222;         
  padding: 10px;                  
  border-radius: 10px;            
  margin-bottom: 10px;            
  transition: background-color 0.3s ease;  
  margin-top: 10px;
  border: 1px solid #58d289;
}

.friend-item:hover {
  background-color: #333;
}

.friend-avatar {
  width: 50px;
  height: 50px;
  border-radius: 30%;
  margin-right: 15px;
  margin-left: 15px;
}

.friend-item h3 {
  font-size: 16px;
  color: white;
  //display: flex;

}


.add-friend-button {
  color: white;                   
  padding: 15px;              
  border-radius: 10px;            
  border: none;                   
  cursor: pointer;                
  margin-left: auto;              
  margin-right: 20px;
  font-size: 14px;
}

/* ------------------------------------------------------------- */
/* -------------------- Right side box ------------------------- */
/* ------------------------------------------------------------- */
/* ------------------------------------------------------------- */





.add-tune-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #1b1b1b;
  color: white;
  border-radius: 10px;
  max-width: 500px;
  width: 90%;
  
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

.add-tune-modal form label {
  display: block;
  margin: 10px 0 5px;
  font-weight: bold;
  margin-bottom: 10px;
  justify-self: left;
  margin-bottom:  15px;
  width: 100%;
}

.add-tune-modal form input,
.add-tune-modal form textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
  border: 1px solid #58d289;
  margin-bottom: 15px;
  padding: 30px;
  justify-content: left;
  
}

.add-tune-modal form button {
  padding: 10px 15px;
  background-color: #58d289;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 14px;
  border-radius: 8px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.add-tune-modal form button[type='button'] {
  background-color: #555;
}



.main-profile-content {
  background-color: #222;
  padding: 20px;
  border-radius: 10px;
  overflow-y: auto;
  max-width: 100%;
}

.profile-view h3 {
  margin-top: 25px;
  text-align: start;
  //font-size: medium;
  font-size: 16px;
  font-weight: 90px;
  padding: 5px;
  margin-left: 10px;
  margin-bottom: 5px;
  
}

.tunes-lists-container {
  max-height: 500px; 
  overflow-y: auto; 
  margin-top: 10px;
  padding-right: 20px; 
  background-color: #111;
  padding-left: 20px;
  padding-top: 15px;
  padding-bottom: 20px;
  border-radius: 15px;
  text-align: start;
  margin-bottom: 15px;
}


.tunes-lists-container::-webkit-scrollbar {
  width: 12px;
  border-radius: 15px;
}

.tunes-lists-container::-webkit-scrollbar-thumb {
  background-color: #58d289;
  border-radius: 15px;
}

.tunes-lists-container::-webkit-scrollbar-track {
  background-color: #111;
  border-radius: 15px;
}

.tune-listF {
  display: grid;
  gap: 5px;
  margin-top: 10px;
  padding: 10px;
}

.tune-cardF {
  background-color: #122;
  padding: 5px;
  border-radius: 8px;
  box-shadow: 0 3px 8px rgba(122, 220, 197, 0.347);
  transition: background-color 0.3s ease, transform 0.3s ease;
  cursor: pointer;
  border: 1px solid #58d289;
  margin-top: 10px;
  justify-content: space-between;
}

.tune-cardF:hover {
  background-color: #333; 
  transform: scale(1.02); 
}

.tune-detailsF {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
}

.tune-titleF {
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  margin: 0;
  font-size: small;
}



.tabs {
  margin-top: 10px;
  width: 100%;
  display: flex;
}

.tab-button {
  padding: 10px 15px;
  border: none;
  background-color: #222;
  cursor: pointer;
  margin-right: 5px;
  font-weight: bold;
  width: 100%;
}

.tab-button.active {
  background-color: #58d289;
  color: white;
  border-radius: 5px;
}

/* Individual Tab */
.tab {
  padding: 15px 30px;
  cursor: pointer;
  font-size: 16px;
  color: white;
  background-color: #111;
  border: 2px solid transparent;
  margin: 0 10px;
  transition: 0.3s ease;
  border-radius: 8px;

}

/* Active Tab Styling */
.tab.active {
  background-color: #58d289;
  color: white;
  border-radius: 8px;
}

/* Main content for tab */
.tab-content {
  padding: 20px;
  background-color: #222;
  border-radius: 8px;
  min-height: 300px;
}

/* Profile Avatar Styling */
.profile-avatar {
  display: block;
  margin: 20px auto;
  border-radius: 15px;
}

.friend-requests-view h3 {
  color: #58d289;
  margin-top: 20px;

}

.friend-requests-view h2 {
  color: white;
  margin-top: 20px;
}

.friend-requests-view div {
  display: flex;
  margin-bottom: 10px;
  background-color: #122;
  border-radius: 8px;
  max-width: 400px;
  padding: 15px;
  border: 1px solid #58d289;
}

.friend-requests-view button {
  background-color: #58d289;
  color: white;
  padding: 8px;
  border: none;
  border-radius: 5px;
  margin-left: 15px;

  font-weight: bolder;
  cursor: pointer;
}

.friend-requests-view button:hover {
  background-color: #333; 
  transform: scale(1.02); 
}

.request-avatar {
  width: 30px;
  height: 30px;
  border-radius: 20%;
 // margin-right: 10px;
  //background-color: white;
  color: #222;
}

.friend-request-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  //background-color: white;
}

.friend-request-item p {
  margin-right: 20px;
  //background-color: white;
  padding-left: 10px;
}




@media (max-width: 768px) {
  .friends-page {
    grid-template-columns: 1fr; /* On smaller screens, stack the columns */
    gap: 10px;
  }

  .friends-list {
    height: auto; /* Ensure the friends list adapts to smaller screens */
  }
}


/* Profile Section Styling */
.profile-section {
  margin-top: 20px;
}

/* Input Styling */
.profile-section input[type="text"] {
  width: 93%;
  padding: 10px 15px;
  font-size: 14px;
  border: 1px solid #58d289; /* Use a color that matches your theme */
  border-radius: 8px;
  outline: none;
  transition: box-shadow 0.3s ease, border-color 0.3s ease;
  background-color: #333;
  color: white;

  border-radius: 8px;
  cursor: pointer;
  display: flex;
  justify-content: center;

}


.profile-section input[type="text"]:focus {
  border-color: #45a049; /* Darken border on focus */
  box-shadow: 0px 0px 8px rgba(69, 160, 73, 0.3); /* Add subtle shadow */
}

/* Heading Styling */
.profile-section h2 {
  color: #333;
  font-size: 24px;
  margin-bottom: 10px;
}

.profile-view h2, .no-friend-selected h2 {
  color: #58d289;
}

.profile-view ul {
  list-style-type: none;
  padding-left: 0;
}

.profile-view ul li {
  background-color: #444;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
  color: white;
}

.profile-section {
  background-color: #111;
  padding: 10px;
  border-radius: 8px;
  margin-top: 5px;
  align-self: center;
}

.profile-section h2 {
  color: #58d289;
}


.my-profile-button {
  background-color: rgb(28, 73, 73);
  border: 1px solid #58d289;
  box-shadow: 0 2px 8px rgba(122, 220, 197, 0.347);
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; 
  text-align: center;
  margin-top: 10px;
}

.my-profile-button:hover {
  background-color: #58d289;
}

.edit-profile-button:hover {
  background-color: #58d289;
}
.requests-button:hover {
  background-color: #58d289;
}


.edit-profile-button {
  background-color: rgb(28, 73, 73);
  border: 1px solid #58d289;
  box-shadow: 0 2px 8px rgba(122, 220, 197, 0.347);
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

.requests-button {
  background-color: rgb(28, 73, 73);
  border: 1px solid #58d289;
  box-shadow: 0 2px 8px rgba(122, 220, 197, 0.347);
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; 
  text-align: center;
  margin-top: 20px;
}




/* ------------------------------------------------------------- */
/* ------------------------------------------------------------- */
/* ------------------------------------------------------------- */
/* -----------CREATE/EDIT PROFILE------------------------------- */
/* ------------------------------------------------------------- */
/* ------------------------------------------------------------- */
/* ------------------------------------------------------------- */
/* ------------------------------------------------------------- */


/* General container for the form */
.create-profile-container {
  max-width: 500px;
  margin: 0 auto; 
  padding: 20px;
  background-color: #1b1b1b; 
  border-radius: 10px;
  color: white;
  margin-top: 60px;
  margin-bottom: 60px;
}

.create-profile-container h2 {
  display: flex;
  text-align: center;
  margin-bottom: 20px;
  color: #58d289; 
  font-size: 24px;
}

/* Styling for the form fields */
.create-profile-container form div {
  margin-bottom: 15px;
  background-color: #1b1b1b;
  color: white;
}

/* Label styling */
.create-profile-container label {
  display: block;
  font-weight: 500;
  margin-bottom: 8px;
  margin-top: 15px;
}

/* Input fields styling */
.create-profile-container input[type="text"],
.create-profile-container input[type="file"] {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #333; 
  color: #fff; 
}

.create-profile-container input[type="text"]:focus,
.create-profile-container input[type="file"]:focus {
  border-color: #58d289; 
  outline: none;
}

/* Button styling */
.create-profile-container button {
  display: block;
  width: 100%;
  background-color: #58d289;
  color: #fff;
  padding: 10px 0;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 40px;
}

.create-profile-container button:hover {
  background-color: #45b26b; 
}


.default-avatar-checkbox {
  display: flex;
  padding: 10px;

}

.custom-checkbox {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  color: #ddd;
  
}

.custom-checkbox input[type="checkbox"] {
  width: 30px;
  height: 30px;
  background-color: white;
  display: none; /* Hide native checkbox */
}

.custom-checkbox .checkbox-box {
  width: 160px;
  height: 160px;
  border: 2px solid #58d289; /* Border color */
  border-radius: 4px; /* Optional: rounded corners */
  position: relative;
  background-color: transparent;

}

.custom-checkbox input[type="checkbox"]:checked + .checkbox-box {
  background-color: #58d289; /* Background when checked */
  border-color: #58d289;
}

.custom-checkbox .checkbox-box::after {
  content: '';
  position: absolute;
  top: 3px;
  left: 6px;
  width: 23px;
  height: 23px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  opacity: 0;
}

.custom-checkbox input[type="checkbox"]:checked + .checkbox-box::after {
  opacity: 5; /* Show checkmark when checked */
}













/* Footer styling */
.footer {
  background-color: #12533d;
  color: #b0b0b0;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
 
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1200px;
  justify-content: space-between;
  padding-bottom: 10px;
  border-bottom: 1px solid #333;
}

.footer-left,
.footer-right {
  flex: 1;
  //min-width: 250px;
  margin-bottom: 20px;
  margin-left: 10%;
  
  align-items: center;
  text-align: center;
}

.footer-info {
  max-width: 400px;
}

.footer-header {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.footer-logo {
  width: 45px;
  height: auto;
  margin-right: 10px;
}

.footer-title {
  font-size: 24px;
  color: #ffffff;
  font-weight: bold;
  margin: 0;
  margin-left: 10px;
}

.footer-description {
  font-size: 16px;
  line-height: 1.5;
  color: #b0b0b0;
  margin-top: 10px;
  text-align: left;
}

.footer-right h4 {
  color: #ffffff;
  margin-bottom: 10px;
  font-size: 18px;
}

.footer-links {
  list-style: none;
  padding: 0;
  font-size: 16px;
  
}

.footer-links li {
  margin-bottom: 5px;
}

.footer-links li a {
  color: #b0b0b0;
  text-decoration: none;
  font-size: 16px;
}

.footer-links li a:hover {
  color: #ffffff;
}

.footer-community {
  display: flex;
  align-items: center;
  justify-content: center; /* Center the icons horizontally */
  text-align: center;
  border-top: 1px solid #333;
  width: 100%;

}

.footer-community h4 {
  color: #ffffff;
  margin-right: 15px; 
  font-size: large;
}

.social-link {
  display: flex;
  gap: 15px; /* Add space between each icon */
}

.social-icon {
  width: 28px; /* Adjust size as needed */
  height: 28px;
  filter: invert(1);
}


.footer-bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  padding-top: 10px;
  border-top: 1px solid #333;
}

.footer-bottom p {
  font-size: 12px;
  color: #b0b0b0;
  margin: 5px 0;
}

.footer-bottom-links {
  display: flex;
  gap: 20px;
}

.footer-bottom-links a {
  color: #b0b0b0;
  font-size: 12px;
  text-decoration: none;
}

.footer-bottom-links a:hover {
  color: #ffffff;
}











// ------------------------------------------------------------ //
// ------------------------------------------------------------ //
// --------------------Loading Spinner   ---------------------- //
// ------------------------------------------------------------ //
// ------------------------------------------------------------ //

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full height of the viewport */
  z-index: 100%;
}

.loading-spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #09f;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  animation: spin 3s linear infinite;
  z-index: 100%;
  
  justify-content: center;
  align-items: center;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}


.carousel-container {
  width: 90%; 
  margin: auto;
  padding: 20px 0;
}

.carousel-slide {
padding: 10px; 
  
}

.carousel-image {
  width: 95%;            /* Full width of the container */
  height: 600px;          /* Fixed height - adjust as needed */
  object-fit: cover;      /* Ensures images cover the area without distortion */
  border-radius: 10px;
  //box-shadow: 0 6px 14px rgba(122, 220, 197, 0.347);
  margin-top: 20px;
  border: 1px solid #ffffff;;
}




.feedback-form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh; /* Make sure it takes the full height of the viewport */
  padding: 20px; /* Adds spacing around the form */
}





.feedback-form-container {
  width: 100%;
  max-width: 550px;

  padding: 20px;
  border-radius: 10px;
  color: #ffffff;
  border: 1px solid #58d289;
  align-self: center;
  align-content: center;


  background-color: #122;

  box-shadow: 0 6px 14px rgba(122, 220, 197, 0.347);
  margin-bottom: 30px;
  margin-top: 25px;
}

.feedback-form-container h2 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 10px;
  color: #ffffff;

}

.feedback-form-container p {
  text-align: center;
  font-size: 14px;
  color: #ccc;
  
}

.feedback-form-container label:nth-of-type(4) {
  padding-top: 10px;
}


.feedback-form-container form {
  display: flex;
  flex-direction: column;

}

.feedback-form-container label {
  margin-top: 10px;
  font-size: 18px;
  margin-bottom: 10px;
}

.feedback-form-container input,
.feedback-form-container textarea {
  margin-top: 5px;
  padding: 10px;
  font-size: 14px;
  border: none;
  border-radius: 8px;
  border: 2px solid #58d289;
}

.feedback-form-container button {
  margin-top: 25px;
  padding: 10px;
  background-color: #58d289;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;

}





.feedback-form-container button:hover {
  background-color: #45a049;
}

.status-message {
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
}


.upload-box {
  border: 2px dashed #58d289;
  border-radius: 10px;
  //padding: 20px;
  text-align: center;
  color: #ffffff;
  margin: 10px 0;
  position: relative;
  //margin-top: 20px;
  padding-bottom: 50px;
  padding-top: 40px;

}

.file-select-button {
  background-color: #555;
  color: #fff;
  padding: 7px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
}

.file-select-button:hover {
  background-color: #58d289;

}





.faq-container-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh; 
  padding: 30px; 
}

.faq-container {
  width: 100%;
  max-width: 800px;
  padding: 20px;
  border-radius: 10px;
  color: #ffffff;
  border: 1px solid #58d289;
  align-self: center;
  align-content: center;
  background-color: #122;
  box-shadow: 0 6px 14px rgba(122, 220, 197, 0.347);
  margin-bottom: 30px;
  margin-top: 25px;

}

.faq-item {
  margin: 15px;
  margin-bottom: 50px;
}




.privacy-policy-container-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh; 
  padding: 30px; 
}


.privacy-policy-container {
  width: 100%;
  max-width: 1000px;
  padding: 20px;
  border-radius: 10px;
  color: #ffffff;
  border: 1px solid #58d289;
  align-self: center;
  align-content: center;
  background-color: #122;
  box-shadow: 0 6px 14px rgba(122, 220, 197, 0.347);
  margin-bottom: 30px;
  margin-top: 25px;

}


.privacy-policy-container h2 {
  color: white;
}

.terms-of-service-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh; 
  padding: 30px; 
}


.terms-of-service {
  width: 100%;
  max-width: 1000px;
  padding: 20px;
  border-radius: 10px;
  color: #ffffff;
  border: 1px solid #58d289;
  align-self: center;
  align-content: center;
  background-color: #122;
  box-shadow: 0 6px 14px rgba(122, 220, 197, 0.347);
  margin-bottom: 30px;
  margin-top: 25px;

}


.terms-of-service h2 {
  color: white;
}



.login-container-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh; 
  padding: 30px; 

}

.login-container {

  width: 100%;
  max-width: 500px;

  padding: 20px;
  border-radius: 10px;
  color: #ffffff;
  border: 1px solid #58d289;
  align-self: center;
  align-content: center;


  background-color: #122;

  box-shadow: 0 6px 14px rgba(122, 220, 197, 0.347);
  margin-bottom: 30px;
  margin-top: 25px;
}

.login-container h2 {
  color: white;
  margin-bottom: 40px;
}

.login-container h {
  color: white;
  margin-bottom: 15px;
  text-align: center;
}