/* Sidebar Styles */
.sidebar {
  position: fixed;
  right: -100%; /* Start the sidebar off-screen */
  top: 0;
  height: 100%;
  width: 400px;
  background-color: #111;
  z-index: 1000; /* Ensure the sidebar is above other content */
  transition: right 0.3s ease; /* Slide-in effect */
}

.sidebar.open {
  right: 0; /* Slide the sidebar in from the right when open */
}

.sidebar-content {
  padding: 20px;
  color: white;
  margin-top: 40px;
}

.close-sidebar {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 24px;
  color: white;
  cursor: pointer;
  background: none;
  border: none;
}

.login-button {
  background-color: #58d289;
  font-size: 20px;
  font-weight: 500;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
  border: none;
  margin-right: 15px;
}

.login-options button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #333;
  color: white;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 2px solid #34A853; /* Green border like your example */
  border-radius: 8px;
  cursor: pointer;

}

.login-options button img {
  margin-left: 10px;
  width: 24px;
  height: 24px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: black;
  margin-right: 20px;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-links {
  display: flex; 
  align-items: center;
}

.navbar-links div,
.navbar-buttons {  
  font-size: 20px;
  font-weight: 400;
  color: white;
  margin-right: 30px;
  cursor: pointer;
  padding: 5px;
  transition: color 0.3s ease, text-decoration 0.3s ease;
}

.navbar-links div:hover,
.navbar-buttons:hover {  /* Apply the same hover effect to both */
  text-decoration-line: underline;
  text-decoration-color: #58d289;
  text-decoration-thickness: 5px;
  text-underline-offset: 12px;
}

.navbar-logo {
  width: 60px;  /* Adjust the logo size */
  margin-right: 10px;  /* Add spacing between logo and title */
  padding: auto;
}

.navbar-title {
  font-size: 30px; /* Enlarged title */
  font-weight: 500px;
  color: #fff;
}


body {
  background-color: #000; /* Set background to black */
  color: #fff; /* Set text color to white */
  font-family: 'Verdana';
}

/* Main container */
.tune-app-container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

/* Title */
.title {
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
  color: #fff;
}

/* Search and Filter */
.search-filter {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  font-size: 12px;
}

.search-input {
  flex: 1;
  margin-right: 10px;
  padding: 10px;
  border-radius: 8px;
  background-color: #222;
  border: 1px solid #444;
  color: #fff;
}

.select-filter {
  width: 200px;
  margin-right: 10px;
  color: #000;
}

.select-filter .css-1okebmr-indicatorSeparator {
  display: none;
}

.select-filter .css-319lph-ValueContainer {
  background-color: #222;
  border: 1px solid #444;
  color: #fff;
}

/* Tune List */
.tune-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  max-width: 100%;
}

.tune-card {
  background-color: #111;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(199, 199, 199, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.2s;

}

.tune-card:hover {
  background-color: #58d289;
}

.tune-details {
  display: flex;
  flex-direction: column;
}

.tune-title {
  font-size: 18px;
  margin: 0;
}

.tune-id {
  font-size: 12px;
  color: #888;
}

/* Tune Detail View */
.tune-detail-view {
  margin-top: 20px;
  background-color: #58d289;
  padding: 40px;
  border-radius: 10px;
  color: #000;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.abc-notation {
  background-color: white;
  color: #000;
  padding: 5px;
  border-radius: 8px;
  //margin-right: 10px;
  margin-top: 10px;
}

.abc-player {
  margin-top: 20px;
  margin-bottom: 10px;
  justify-content: center;
  //padding: auto;
}

/* Pagination Wrapper */
.pagination-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px; /* Add space between the tune list and pagination */
  margin-bottom: 10px;
}

/* Pagination Styles */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  list-style: none; /* Remove bullet points */
}

.pagination li {
  margin: 0 5px; /* Spacing between the pagination numbers */
}

.pagination a {
  padding: 10px 15px;
  border-radius: 5px;
  text-decoration: none;
  color: #fff;
  background-color: #333; /* Default background */
  transition: background-color 0.3s ease; /* Smooth transition */
}

.pagination a:hover {
  background-color: #58d289; /* Change background on hover */
}

.pagination .active a {
  background-color: #58d289; /* Active page background */
  color: #fff; /* Active page text color */
}

/* Additional styling for smaller screens */
@media (max-width: 768px) {
  .pagination a {
    padding: 8px 12px;
    font-size: 14px;
  }
}






/* Container for the sessions page */
.sessions-page {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
  padding: 30px;
}

/* Add Session Section */
.add-session-section {
  background-color: #f1f1f1;
  padding: 20px;
  border-radius: 8px;
}

.add-session-section h3 {
  color: #0a7a3e;
  margin-bottom: 10px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  //justify-content: space-between;
  color: white;
  //margin-right: 20px;
 // font-size: 20px;
  //font-weight: 300;
  padding: 10px;
  border-radius: 8px;
  background-color: #58d289;
}

button:hover {
  background-color: #06692f;
}


/* Session List Section */
.sessions-container {
  padding: 50px;
}

h1 {
  text-align: center;
  color: #58d289;
}

/* Search Input */
.search-input {
  flex: 1;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

/* Sessions List */
.sessions-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  max-width: 100%;
  margin: 20px 0;
}

.session-card {
  background-color: #111;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(199, 199, 199, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: background-color 0.2s;
}

.session-card:hover {
  background-color: #58d289;
}


.pagination-controls {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.add-session-button {
  background-color: #58d289;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  margin-top: 20px;
}

.add-session-button:hover {
  background-color: #58d289;
}

/* Modal Styles */
.modal {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #58d289;
  padding: 30px;
  border-radius: 10px;
  width: 500px;
  max-width: 90%; /* Ensures responsiveness */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative; /* For the close button */
  color: #000;
} 

.close-modal {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 24px;
  cursor: pointer;
  background: none;
  border: none;
  color: #333;
}

form div {
  margin-bottom: 15px;
}

form input,
form textarea {
  width: 100%; /* Make fields fill the modal width */
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  box-sizing: border-box; /* Fixes padding overflow issues */
}

form button {
  background-color: #0a7a3e;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  width: 100%; /* Full-width button for consistency */
}

form button:hover {
  background-color: #06692f;
}

h2 {
  color: black; /* Match the button's color for a uniform look */
  text-align: center; /* Center align the heading */
  margin-bottom: 20px;
  font-size: 24px;
}


.abc-player-container {
  max-width: 100%;
  margin: 0 auto;
}

#abc-notation {
  background-color: #58d289;
  border-radius: 8px;
  padding: 20px;
  max-width: 800px; /* Limit the width of the ABC notation */
  margin: 0 auto;
}

#abc-player {
  margin-top: 20px;
  max-width: 800px;
  margin: 0 auto;
}

#abc-audio-controls {
  margin-top: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.friends-page {
  display: grid;
  grid-template-columns: 1fr 2fr; /* Left sidebar takes 1fr, main content 2fr */
  gap: 20px;
  padding: 20px;
  height: 100vh; /* Full viewport height */
  margin-bottom: 50px;
}

.friends-list {
  background-color: #111;
  padding: 20px;
  border-radius: 8px;
  height: 100vh;
  overflow-y: auto;
}

.my-profile-button {
  background-color: #58d289;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  margin-bottom: 20px;
  cursor: pointer;
  border: none;
}

.my-profile-button:hover {
  background-color: #44b176;
}

.friend-item {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-bottom: 15px;
  cursor: pointer;
  background-color: #222;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.friend-item:hover {
  background-color: #333;
}

.friend-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
}

.friend-item h3 {
  font-size: 16px;
  color: white;
}

.main-profile-content {
  background-color: #222;
  padding: 20px;
  border-radius: 10px;
  overflow-y: auto;
}

.profile-view h2, .no-friend-selected h2 {
  color: #58d289;
}

.profile-view ul {
  list-style-type: none;
  padding-left: 0;
}

.profile-view ul li {
  background-color: #444;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
  color: white;
}

.profile-section {
  background-color: #111;
  padding: 20px;
  border-radius: 8px;
  margin-top: 20px;
}

.profile-section h2 {
  color: #58d289;
}

.profile-section input {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #444;
  background-color: #222;
  color: white;
  margin-top: 10px;
}

.my-profile-button{
  display: flex;
  align-self: center;
}
/* Make sure everything adjusts for smaller screens */
@media (max-width: 768px) {
  .friends-page {
    grid-template-columns: 1fr; /* On smaller screens, stack the columns */
    gap: 10px;
  }
}

